.root
{
    -fx-background-color: #393939;
}

.vboxright
{


    -fx-background-insets: 5px;
    -fx-text-size: 50px;
    -fx-text-align: center;
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-background-radius: 8px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-pref-width: 180px;
    -fx-pref-height: 110px;
    -fx-content-display: top;
    -fx-border-left: 2px, solid;
}

.vboxleft
{
    -fx-background-insets: 5px;
    -fx-text-size: 50px;
    -fx-text-align: center;
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-background-radius: 8px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-pref-width: 180px;
    -fx-pref-height: 130px;
    -fx-content-display: top;

}
.vboxleft:hover
{
    -fx-background-color: linear-gradient(#dc9656,#ab4642);
}



.vboxright:hover
{
    -fx-background-color: linear-gradient(#dc9656,#ab4642);
}


#infoTableView
{

}

.date
{
    -fx-text-fill: azure;
    -fx-font-size: 30;
    -fx-font-family: "Times New Roman", Times, serif;

}

#center
{
    -fx-margin: 20px;
    -fx-border-width: 2px;
    -fx-border-style: dotted;
    -fx-pref-height: 900;
}


.idname
{
    -fx-margin: 20px;
    -fx-border-width: 4px;
    -fx-border-style: solid;
    -fx-pref-width: 300px;
}

.idNameReserv
{
    -fx-margin: 20px;
    -fx-border-width: 4px;
    -fx-border-style: solid;
    -fx-pref-width: 220px;
}

.id
{
    -fx-background-color: #2D2D2D;
    -fx-text-fill: white;
    -fx-text-align: center;
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-font-size: 20px;
}

.identry
{
    -fx-background-color: #2D2D2D;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-pref-height: 240px;
}

.idfield
{
    -fx-text-size: 10px;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-border-bottom: 2px solid;
    -fx-font-style: italic;
    -fx-font-family: "Times New Roman",Times,serif;

}

#bookFieldAuthor
{
    -fx-border-style: solid;
    -fx-border-width: 2 0 0 0;
    -fx-border-color: aliceblue;
}

.idsearch
{
    -fx-pref-width: 100px;
    -fx-pref-height: 50px;
    -fx-text-align: center;
    -fx-font-style: italic;
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;

}

.idsearch:hover
{
    -fx-background-color: linear-gradient(#dc9656,#ab4642);
}

.infoDescriptionTitle
{
    -fx-text-size: 10px;
    -fx-text-fill: white;
}

.memberData
{
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-font-size: 20px;
    -fx-text-fill: azure;
}

.box
{
    -fx-background-color: #2D2D2D;
}

.title
{
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-font-size: 30px;
    -fx-text-fill: azure;
    -fx-background-color: gray;
}

#buttonAddSave
{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
}

#buttonAddSave: hover
{
    -fx-background-color: linear-gradient(#dc9656,#ab4642);

}

.foot
{
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-font-size: 15px;
    -fx-text-fill: azure;
}

.dataField
{
    -fx-font-size: 15px;
    -fx-position: relative;
}

.dataField text
{
    -fx-position: absolute;
    -fx-background-color: aqua;
}
.dataField:focused ~text
{
    -fx-top: -15px;
}

.button:hover
{
    -fx-background-color: linear-gradient(#dc9656,#ab4642);
}

.titlevackground
{
    -fx-background-color: gray;
}

.dataleft
{

}